<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details!</title>
</head>
<body>
    <h1>Product Details</h1>
    <h3>Product name - <%= productDetails.name  %>  </h3>
    <h3>Price - $<%= productDetails.price  %>  </h3>
    <br><br>
    <a href="/">Back to Index</a>
</body>
</html>